:host {
    visibility: hidden;
    opacity: 0;
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: row; 
        -ms-flex-direction: row; 
            flex-direction: row; 
    -webkit-flex-wrap: wrap; 
        -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
    background-color: black;
    transition: opacity 1s ease-in;
}

:host > div {
    width: 33.3%;
}

:host > div > div {
    margin-bottom: -4px;
    padding: 10px;
}

img {
    width: 100%;
    transition: all .3s ease;
    transition-property: z-index, box-shadow, filter;
    z-index: initial;
}

img:hover {
    position: relative;
    z-index: 1000;
    box-shadow: 0 0 20px 10px rgba(15, 15, 15, 0.7);
    -webkit-filter: contrast(90%) saturate(140%);
            filter: contrast(90%) saturate(140%);
}
